language: node_js
node_js:
  - stable
  - lts/carbon
  - lts/dubnium
branches:
  only:
    - master
    - /v\d+\.\d+/
cache:
  yarn: true
script:
  - yarn lint
  - yarn build
  - yarn test
after_script:
  - npx codecov
notifications:
  email: false
deploy:
  provider: npm
  skip_cleanup: true
  email: notcaseywebb@gmail.com
  api_key:
    secure: haSWpThNws0t6F2KJ4KqP1Igs/sv7DO9ITfwNMtpx/WrCY9T+H3nfJqHBeDxw/+uPd0IiFc4tZ5lM/i3TNalJarN0esgnWka9Vfaxb0QGXrEvCf/gNmw23wVWiZAvwpdXo9ARyQKrhHe4bTw1//WbVJeqtPx7uEeswuslyqsY9kZ4pkjQnydrmHs0WU43Ow8Q36zRMMyLf417w0rvOSnZ6gFDUCAnPoTbx92oaQ79+c8YcUGKQB5xs/50dYgePopfpUMVRWOe8cpYR2zaOUJW3LDsCOzGe3uUnLHB+r5zWwenSmRsfLobX59JnMRmcgdilEvhTlr5sU+fb4Hr3CXptMwNnVj563VcC9fFYpEOdJjs6KW4doLgPtC44pFwu4P3oG3cwYwJzK9WvB+3IWhaikI8Ada4OiYdt8PO++FF/sMHy+/w0wlcQ1xSKksV1AHxSK0TyPgpiYRkn7I0mjl3XmW0bIIsXHPd2ea95N5JFMtgGif54P9lGwIn+51NLdcuncS/fzGO2SVdZu9Gj6jnp3KoQ+Uzeg+tsQzagPEgm8WdlmFyKqM6ezMWwxfU0PLW7yIKiHr5KvDzelVmNdnBqYc5m1zTwTZXSB7wgJmRltwNwDxk+llTrAcuLNVpgap8PY9CFYXtFJJKgC+owDhl8otyGrOvXLe0QyZG6S1JyQ=
  on:
    tags: true
    repo: posthtml/posthtml-highlight
